<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <link rel="icon" type="image/x-icon" href="/static/images/bus-icon.png">
    <link rel="stylesheet" href="/static/styles/style.css">
    <link rel="stylesheet" href="/nouislider/dist/nouislider.css">
    <link rel="stylesheet" href="/static/styles/lock_style.css">

    <title>OCCT Route Planning</title> <!--  cspell: disable-line  -->

    <script>
        document.querySelectorAll("topnav").forEach((link) => {
            if (link.href === window.location.href) {
                link.classList.add("active");
            }
        });
    </script>
    <style>
        h2 {
            display: inline-block;
        }
    </style>
</head>

<body>
    <ul class="topnav">
        <li><a href="/index.html">Home</a></li>
        <li><a href="/static/templates/tutorial.html">Tutorial</a></li>
        <li><a href="/static/templates/email.html">Suggestions</a></li>
    </ul>

    <h1 style="margin-top: 3rem;">Tutorial/FAQ</h1>
    <p>If your question is not here, click Suggestions at the top and email me.</p>
    <br>


    <details>
        <summary><h2>What's the lock about?</h2></summary>
        <p>The lock is a way for you to fix the time difference between the start and end time.</p>
        <img src="/static/images/howToUseLock.gif" alt="Gif on how to use the lock">
    </details>


    <details>
        <summary><h2>What do the stops mean?</h2></summary>
        <p>The stops are the official names of the stops in the <a
                href="https://occtransport.s3.amazonaws.com/Spring+2024/OCCT+Spring+2024+Master+Schedule.pdf">OCCT
                bus pdf</a>.
            <br>Some examples include "Leaves UDC", "Returns to Campus", and "Arrives at UDC".</p>
        <img src="/static/images/example1.png" style="height: 150px">
        <img src="/static/images/example2.png" style="height: 150px">
        <p>Yes, this does mean that you need to know what your stop is called for this app to be useful.</p>
    </details>


    <details>
        <summary><h2>What are the 3 buttons for?</h2></summary>
        <img src="/static/images/3buttons.gif">
        <p style="padding-bottom: 200px;">Those 3 buttons are there for conveniently setting the 3 most common trips.</p>
    </details>

</body>