/* :::::::::::::: Presentation css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    --locked-color: #f04447;
    --locked-color-light: #f04447cc;
    --unlocked-color: #339c5f;
    --unlocked-color-light: #339c5fcc;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 400px;
}

button {
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
}

.noUi-touch-area {
    background-color: var(--locked-color-light);
}

.noUi-touch-area[unlocked] {
    background-color: var(--unlocked-color-light);
}